.pipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1001;
}

.pipe-top {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    border: 2px solid black;
}

.pipe-bottom {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 85%;
    border: 2px solid black;
}

.platform {
    border: 1px solid black;
    background-color: gray;
    box-sizing: border-box;
    border-top: 10px solid #eee;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    z-index: 4;
}

.platform2 {
    border: 1px solid black;
    background-color: #bbb;
    box-sizing: border-box;
    border-top: 10px solid #222;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    z-index: 5;
}

.github {
    background: url('./textures/github.png');
    background-position: center center;
    background-color: #ccc;
    border: 2px solid black;
    background-size: 56px;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    z-index: 5;
    image-rendering: pixelated;
    cursor: pointer;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
}

.linkedin {
    background: url('./textures/linkedin.png');
    background-position: center center;
    background-color: #bbb;
    border: 2px solid black;
    background-size: 56px;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    z-index: 5;
    image-rendering: pixelated;
    cursor:pointer;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
}

.mail {
    background: url('./textures/mail.png');
    background-position: center center;
    background-color: #eee;
    border: 2px solid black;
    background-size: 56px;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    z-index: 5;
    image-rendering: pixelated;
    cursor:pointer;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
}

.messagebox {
    background: url('./textures/message_box.png');
    background-size: 64px;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    z-index: 5;
    image-rendering: pixelated;
}

.block {
    background: url('./textures/question.gif');
    background-size: 64px;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    z-index: 5;
    image-rendering: pixelated;
}

.block.used {
    background: url('./textures/dead_block.png');
    background-size: 64px;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    z-index: 5;
    image-rendering: pixelated;
}

.floor {
    z-index: 998;
    background: olivedrab;
    background-size: 100px;
    padding: 0px;
    margin: 0px;
    z-index: 1002;
    image-rendering: pixelated;
}

.coin {
    position: absolute;
    width: 64px;
    height: 64px;
    background: url('./textures/coin.gif');
    background-size: 64px;
    object-fit: contain;
    border-radius: 50%;
    z-index: 4;
    image-rendering: pixelated;
}
