.pipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1001;
}

.pipe-top {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    border: 2px solid black;
}

.pipe-bottom {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 85%;
    border: 2px solid black;
}

.platform {
    border: 1px solid black;
    background-color: gray;
    box-sizing: border-box;
    border-top: 10px solid white;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
}

.platform2 {
    border: 1px solid black;
    background-color: #bbb;
    box-sizing: border-box;
    border-top: 10px solid #333;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    
}

.block {
    background: url('textures/concrete.png');
    background-size: 100px;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
}

.floor {
    z-index: 998;
    background: url('/textures/grass-dirt.png');
    background-size: 100px;
    padding: 0px;
    margin: 0px;
    z-index: 1002;
}

.water {
    background: url('/textures/water.png');
    background-size: 100px;
    padding: 0px;
    margin: 0px;
}

.obsidian {
    background: url('/textures/obsidian.png');
    background-size: 100px;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
}

.dirt {
    background: url('/textures/dirt.jpg');
    background-size: 100px;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
}

.brick {
    background: url('/textures/brick.png');
    background-size: 100px;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
}