.platform {
    background-color: gray;
    box-sizing: border-box;
    border-top: 10px solid white;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
}

.platform2 {
    background-color: #bbb;
    box-sizing: border-box;
    border-top: 10px solid #333;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
}

.block {
    background: url('textures/concrete.png');
    background-size: 100px;
}

.floor {
    z-index: 998;
    background: url('/textures/grass-dirt.png');
    background-size: 100px;
    padding: 0px;
    margin: 0px;
}

.water {
    background: url('/textures/water.png');
    background-size: 100px;
    padding: 0px;
    margin: 0px;
}

.obsidian {
    background: url('/textures/obsidian.png');
    background-size: 100px;
    padding: 0px;
    margin: 0px;
}

.dirt {
    background: url('/textures/dirt.png');
    background-size: 100px;
    padding: 0px;
    margin: 0px;
}

.brick {
    background: url('/textures/brick.png');
    background-size: 100px;
    padding: 0px;
    margin: 0px;
}