body {
    background: black;
}

.box {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    left: 20px;
    bottom: 0px;
    width: 100px;
    height: 100px;
    background-image: url(mario.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.grid-container {
    display: grid;
    background-color: white;
    grid-gap: 5px;
    padding: 5px;
    grid-template-areas: 
        'bonus up bonus2'
        'lefty down righty';
    width:150px;
    height:100px;
}

.up {
    grid-area: up;
}

.down {
    grid-area: down;
}

.lefty {
    grid-area: lefty;
}

.righty {
    grid-area: righty;
}

.bonus {
    grid-area: bonus;
}

.bonus2 {
    grid-area: bonus2;
}