body {
    background: black;
    overflow: hidden;
}

#background-container {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 5000px;
    background: url('/backgrounds/hills.jpg') center repeat-x;
    background-size: auto 100%;
    overflow: hidden;
}

#level-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 10000px;
    height: 100vh;
    background: none;
}

.sprite {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    width: 64px;
    height: 120px;
    background-image: url('/sprites/stand.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    z-index: 999;
}

.sprite-hidden {
    left: 0px;
    top: 0px;
    display: none;
}

.grid-container {
    position: fixed;
    top: 0px;
    left: 0px;
    display: grid;
    background-color: white;
    grid-gap: 5px;
    padding: 5px;
    grid-template-areas: 
        'bonus up bonus2'
        'lefty down righty';
    width:150px;
    height:100px;
    z-index: 1000;
}

.up {
    grid-area: up;
}

.down {
    grid-area: down;
}

.lefty {
    grid-area: lefty;
}

.righty {
    grid-area: righty;
}

.bonus {
    grid-area: bonus;
}

.bonus2 {
    grid-area: bonus2;
    background-color: green;
}